.register-page,
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  width: 350px;
  font-size: 0.9rem;
  background-color: var(--black);
  height: 50%;
  padding-top: 1rem;
  box-shadow: -4px 4px 2px 4px rgba(0, 0, 0, 0.25);
}

.box img {
  cursor: pointer;
  vertical-align: middle;
}
.box > a {
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  position: relative;
  cursor: default;
}

.box h2 {
  font-size: 0.9rem;
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

form label {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

form input {
  background: none;
  border: 2px solid hsla(0, 0%, 75%, 0.2);
  padding: 0.3rem 0.5rem;
  color: white;
  font-family: inherit;
  border-radius: var(--border-radius);
}

form input.invalid {
  border-color: var(--red);
}

form button {
  margin-top: 1.5rem;
}

.errors {
  color: var(--red-light);
  font-size: 0.8rem;
  margin-top: 0.2rem;

  /* border-radius: var(--border-radius);
  margin: 1rem 0;
  background-color: var(--red-015);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; */
}

.box-footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 1.5rem 1rem;
  position: relative;
  background-color: #0b0b0b;
  color: rgba(255, 255, 255, 0.8);
}

.box-footer a {
  opacity: 0.8;
}
